h1 {
    font-size: 24px;
}

.table {
    padding: 10px 0;
    border-top: 3px solid #808080;
    border-bottom: 3px solid #808080;
}

.table__title {
    font-weight: normal;
}

.table__info-symbol {
    font-weight: bold;
}

.table__info-img {
    width: 40px;
    height: 40px;
    background: url(../img/form.png) center no-repeat;
    background-size: 100%;
}